.tableScreenContainer {
  margin: 1em;
  overflow-x: auto;
  display: block
}
.tablePrintContainer {
  display: block
}

.levelProgressionTable {
  border-collapse: collapse;
  border: solid black 2px;
}
.levelProgressionTable caption {
  text-align: left;
  padding-bottom: 0.4em;
  font-size: large;
  font-weight: bold;
}
.levelProgressionTable {
  padding: 0.4em;
  text-align: center;
}

.palette0 th {
  background-color: white;
  color: black;
}
.palette0 tr {
  background-color: white;
  color: black;
}

.palette1 th {
  background-color: BlueViolet;
  color: white;
}
.palette1 tr:nth-child(odd) {
  background-color: #f3e9fc;
  color: black;
}
.palette1 tr:nth-child(even) {
  background-color: #dabcf6;
  color: black;
}

.palette2 th {
  background-color: #373737;
  color: #dcd0d0;
}
.palette2 tr:nth-child(odd) {
  background-color: #f4f4f4;
  color: #373737;
}
.palette2 tr:nth-child(even) {
  background-color: #dcd0d0;
  color: #373737;
}

.palette3 th {
  background-color: #2d4739;
  color: white;
}
.palette3 tr:nth-child(odd) {
  background-color: #b3efb2;
  color: #121619;
}
.palette3 tr:nth-child(even) {
  background-color: #19915a;
  color: #121619;
}

.ruleRight {
  border-right: 1px solid;
  border-color: black;
}  
.ruleBottom {
  border-bottom: 2px solid;
  border-color: black;
}

.serifTable {
  font-family: Georgia, 'Palatino Linotype', serif;
}
.sansTable {
  font-family: Arial, Helvetica, sans-serif;
}
.monoTable {
  font-family: Monaco, "Lucida Console", monospace;
}

.xx-smallTable {
  font-size: xx-small;
}
.x-smallTable {
  font-size: x-small;
}
.smallTable {
  font-size: small;
}
.mediumTable {
  font-size: medium;
}
.largeTable {
  font-size: large;
}
.x-largeTable {
  font-size: x-large;
}
.xx-largeTable {
  font-size: xx-large;
}

.nicerForm select {
  min-width: 100px;
  text-align: center;
}
</style>.tableContainer {
  margin: 1em;
  overflow-x: auto;
}


.levelProgressionTable {
  border-collapse: collapse;
  border: solid black 2px;
}
.levelProgressionTable caption {
  text-align: left;
  padding-bottom: 0.4em;
  font-size: large;
  font-weight: bold;
}
.levelProgressionTable th {
  padding: 0.4em;
  text-align: center;
}
.levelProgressionTable td {
  padding: 0.4em;
  text-align: center;
}


.palette0 th {
  background-color: white;
  color: black;
}
.palette0 tr {
  background-color: white;
  color: black;
}


.palette1 th {
  background-color: BlueViolet;
  color: white;
}
.palette1 tr:nth-child(odd) {
  background-color: #f3e9fc;
  color: black;
}
.palette1 tr:nth-child(even) {
  background-color: #dabcf6;
  color: black;
}


.palette2 th {
  background-color: #373737;
  color: #dcd0d0;
}
.palette2 tr:nth-child(odd) {
  background-color: #f4f4f4;
  color: #373737;
}
.palette2 tr:nth-child(even) {
  background-color: #dcd0d0;
  color: #373737;
}


.palette3 th {
  background-color: #2d4739;
  color: white;
}
.palette3 tr:nth-child(odd) {
  background-color: #b3efb2;
  color: #121619;
}
.palette3 tr:nth-child(even) {
  background-color: #19915a;
  color: #121619;
}


.ruleRight {
  border-right: 1px solid;
  border-color: black;
}  
.ruleBottom {
  border-bottom: 2px solid;
  border-color: black;
}

.serifTable {
  font-family: Georgia, 'Palatino Linotype', serif;
}
.sansTable {
  font-family: Arial, Helvetica, sans-serif;
}
.monoTable {
  font-family: Monaco, "Lucida Console", monospace;
}